{:paths   ["src" "resources"]
 :deps    {aero/aero                    {:mvn/version "1.1.6"}
           com.xtdb/xtdb-core           {:mvn/version "1.24.3"}
           com.xtdb/xtdb-jdbc           {:mvn/version "1.24.3"}
           integrant/integrant          {:mvn/version "0.10.0"}
           integrant/repl               {:mvn/version "0.3.3"}
           io.pedestal/pedestal.jetty   {:mvn/version "0.7.0-rc-2"}
           io.pedestal/pedestal.service {:mvn/version "0.7.0-rc-2"}
           io.pedestal/pedestal.error   {:mvn/version "0.7.0-rc-2"}
           metosin/malli                {:mvn/version "0.16.1"}
           buddy/buddy                  {:mvn/version "2.0.0"}
           buddy/buddy-core             {:mvn/version "1.11.423"}
           buddy/buddy-sign             {:mvn/version "3.5.351"}
           hato/hato                    {:mvn/version "1.0.0"}
           org.clojure/data.json        {:mvn/version "2.5.0"}
           org.postgresql/postgresql    {:mvn/version "42.7.3"}
           org.slf4j/slf4j-simple       {:mvn/version "2.0.10"}}
 :aliases {
           ;; clojure -X:test
           :test  {:extra-paths ["test" "resources"]
                   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}
                                 eftest/eftest          {:mvn/version "0.5.9"}
                                 fundingcircle/jukebox  {:mvn/version "1.0.6"}
                                 cloverage/cloverage    {:mvn/version "1.2.2"}}
                   :exec-fn     cloverage.coverage/run-project
                   :exec-args   {:test-ns-path ["test"]
                                 :src-ns-path  ["src"]
                                 :runner       :eftest
                                 :runner-opts  {:lvoc? true
                                                :html? true
                                                :fail-threshold 10
                                                :fail-fast? true}}
                   :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                              "-Dio.netty.tryReflectionSetAccessible=true"]}}
           :dev   {:extra-paths ["dev"]
                   :jvm-opts    [;"-Dorg.slf4j.simpleLogger.defaultLogLevel=debug"
                                 ]}
           ;; Run with clj -T:build function-in-build
           :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.4" :git/sha "31388ff"}}
                   :ns-default build}}}