{:infra.xtdb/xtdb
 #profile{:prod
          {:xtdb.jdbc/connection-pool
           {:dialect   {:xtdb/module xtdb.jdbc.psql/->dialect}
            :pool-opts {:maximumPoolSize     10
                        :minimumIdle         1
                        :idleTimeout         60000
                        :connectionTimeout   30000
                        :maxLifetime         1800000
                        :auto-commit         false
                        :validationTimeout   5000
                        :connectionTestQuery "SELECT 1"}
            :db-spec   {:host     #or[#env DB_HOST "0.0.0.0"]
                        :port     #long #or[#env DB_PORT 5432]
                        :dbname   #or[#env DB_NAME "postgres"]
                        :user     #or[#env DB_USER "postgres"]
                        :password #or[#env DB_PASS "password"]}}
           :xtdb/tx-log         {:xtdb/module     xtdb.jdbc/->tx-log
                                 :connection-pool :xtdb.jdbc/connection-pool}
           :xtdb/document-store {:xtdb/module     xtdb.jdbc/->document-store
                                 :connection-pool :xtdb.jdbc/connection-pool}}
          :default {}}
 :infra.auth/auth
 {:domain        #env AUTH_DOMAIN
  :client_id     #env AUTH_CLIENT_ID
  :client_secret #env AUTH_CLIENT_SECRET
  :audience      #env AUTH_AUDIENCE}

 :infra.migrations/migrations
 {:node #ig/ref :infra.xtdb/xtdb
  :data [{:nome "Zé do olho", :especialidade "oftalmologia", :xt/type :medico, :crm "000000-00-SP", :xt/id #uuid"d150fbec-cbc1-41a8-8073-de53ab309262", :senha "bcrypt+sha512$1320843717ff1779f5d5c56b66126fbc$12$11b24b6a7fa0cd611979f4374cfdf8ef6f8474078b164af2"}
         {:nome "Paciente 0", :xt/type :paciente, :cpf "34607001651", :xt/id #uuid"7b604804-3807-4fb1-8761-6b4ab0ef7b82", :senha "bcrypt+sha512$1320843717ff1779f5d5c56b66126fbc$12$11b24b6a7fa0cd611979f4374cfdf8ef6f8474078b164af2"}
         {:nome "Paciente 1", :xt/type :paciente, :cpf "25146990964", :xt/id #uuid"ca0d1c80-0401-47c4-94e3-496580e15e53", :senha "bcrypt+sha512$1320843717ff1779f5d5c56b66126fbc$12$11b24b6a7fa0cd611979f4374cfdf8ef6f8474078b164af2"}
         {:nome "Paciente 2", :xt/type :paciente, :cpf "70693875399", :xt/id #uuid"8fb44bc1-2b77-4239-8c06-72f06e2aa581", :senha "bcrypt+sha512$1320843717ff1779f5d5c56b66126fbc$12$11b24b6a7fa0cd611979f4374cfdf8ef6f8474078b164af2"}
         {:nome "Paciente 3", :xt/type :paciente, :cpf "96055788080", :xt/id #uuid"cfb7be64-738f-4630-8b59-b5e9ba867d8e", :senha "bcrypt+sha512$1320843717ff1779f5d5c56b66126fbc$12$11b24b6a7fa0cd611979f4374cfdf8ef6f8474078b164af2"}
         {:nome "Paciente 4", :xt/type :paciente, :cpf "34570386008", :xt/id #uuid"ea2519ff-2a51-4c74-a18d-2b4da9b303fd", :senha "bcrypt+sha512$1320843717ff1779f5d5c56b66126fbc$12$11b24b6a7fa0cd611979f4374cfdf8ef6f8474078b164af2"}
         {:nome "Dentisto", :especialidade "odontologia", :xt/type :medico, :crm "654536-44-SP", :xt/id #uuid"c3e47c29-31b4-4e49-a408-179772823f7c", :senha "bcrypt+sha512$1320843717ff1779f5d5c56b66126fbc$12$11b24b6a7fa0cd611979f4374cfdf8ef6f8474078b164af2"}
         {:nome "Cerebral", :especialidade "neurologia", :xt/type :medico, :crm "464515-55-SP", :xt/id #uuid"f07c4f60-8d40-4b84-800d-4884db4a29d3", :senha "bcrypt+sha512$1320843717ff1779f5d5c56b66126fbc$12$11b24b6a7fa0cd611979f4374cfdf8ef6f8474078b164af2"}
         {:nome "Paciente 5", :xt/type :paciente, :cpf "61999193784", :xt/id #uuid"6cc4fbf9-a78c-4d97-b89d-bb3cf585a2b3", :senha "bcrypt+sha512$1320843717ff1779f5d5c56b66126fbc$12$11b24b6a7fa0cd611979f4374cfdf8ef6f8474078b164af2"}
         {:nome "Doidista", :especialidade "psiquiatra", :xt/type :medico, :crm "487545-35-SP", :xt/id #uuid"a51b6d0c-3853-4993-8c4e-ff3a75b1cc9e" :senha "bcrypt+sha512$1320843717ff1779f5d5c56b66126fbc$12$11b24b6a7fa0cd611979f4374cfdf8ef6f8474078b164af2"}]}


 :infra.http.routes/routes
 {}

 :infra.http.server/server
 {:port        8080
  :routes      #ig/ref :infra.http.routes/routes
  :app-context {:auth #ig/ref :infra.auth/auth
                :xtdb #ig/ref :infra.xtdb/xtdb}
  :join?       #profile{:default false
                        :prod    false}}}